<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>商城</title>
    <script src="js/jquery-1.3.2.min.js"></script>
    <script src="js/home/header_model_js.js"></script>
    <script src="js/mall/type_list_obj.js"></script>
    <script src="js/seckill/seckill.js"></script>
    <link rel="icon" href="img/page_icon.png"/>
    <link href="css/home_page/header_and_nav.css" rel="stylesheet"/>
    <link href="css/mall_page/mall_page_other.css" rel="stylesheet"/>
</head>
<body>
<header th:include="header :: copy"></header>
<div th:include="short_nav_show :: short_nav_show" class="short_nav_show"></div>
<nav th:include="my_nav :: my_nav" class="my_nav"></nav>
<div th:include="personal_nav :: personal_nav" class="personal_nav"></div>

<!--商品详情，加多一个多余的div，然分页按钮可以显示在内容之下-->
<div class="temp_content" onmousedown="hideParticular()">
    <!--注意需要加一个br，不然会在同一行显示-->
    <div class="all_product">

    </div>
    <div class="pagination_div" onmouseleave="hideParticular()">
        <ul class="page_ul">

        </ul>
    </div>
    <footer>
        <p>Copyright © 2017.Company name All rights reserved.<a href="/"></a></p>
    </footer>
</div>
</body>
</html>